# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env / secrets
.env
*.keystore
*.jks
*.pem
*.p12

# Android
android/.gradle/
android/.idea/
android/local.properties
android/captures/
android/*.iml
android/build/
android/app/build/
android/app/release/
android/app/debug/
*.apk
*.aab

# iOS (if present)
ios/Pods/
ios/build/
ios/*.xcworkspace
*.xcuserstate
DerivedData/

# Misc
.DS_Store
.vscode/
.idea/
